$text-align-style: center;
$img-transition: all 0.8s;
$img-transform: scale(1.2);
$text-font: 'Titillium Web', sans-serif;

.banner {
    background-size: cover;
    padding-top: 1%;
    width: 90%;
    padding-left: 15%;
}

.information__title {
    font-family: $text-font;
    text-align: $text-align-style;
    font-size: 70px;
}
.information__title b {
    color: rgb(136, 35, 35);
}

.information__text {
    font-family: $text-font;
    text-align: $text-align-style;
    font-size: 20px;
}

.portfolio__container {
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    border-radius: 2px;
    
}

.portfolio__container img {
    -moz-transition: $img-transition;
    -webkit-transition: $img-transition;
    transition: $img-transition;
}

.portfolio__container:hover img {
    -moz-transform: $img-transform;
    -webkit-transform: $img-transform;
    transform: $img-transform;
}

.portfolio__details {
    position: absolute;
    bottom: 25px;
    left: 25px;
    z-index: 1;
}   

.portfolio__details h2 {
    font-size: 18px;
    padding-bottom: 5%;
    color: white;
}

.portfolio__details a, .portfolio__details a p {
    color: rgb(255, 255, 255);
    font-size: 100%;
    padding-bottom: 2%;
    padding-left: 1%;
}

/* Media Query */

@media (min-width: 280px) and (max-width: 315px) {

    .banner {
        padding-top: 70%;
    }

    .information__title {
        font-size: 300%;
    }

    .information__text {
        font-size: 100%;
    }

    .portfolio__details h2 {
        font-size: 20px;
    }

    .portfolio__details a, .portfolio__details a p {
        font-size: 8px;
    }
}

@media (min-width: 320px) and (max-width: 520px) {
    
    .banner {
        padding-top: 45%;
    }

    .information__title {
        font-size: 45px;
    }

    .information__text {
        font-size: 25px;
    }

    .portfolio__details h2 {
        font-size: 20px;
        padding-bottom: 1%;
    }

    .portfolio__details a, .portfolio__details a p {
        font-size: 15px;
        padding-bottom: 2%;
    }
}

@media (min-width: 540px) and (max-width: 650px) {

    .banner {
        padding-top: 30%;
    }

}

@media (min-width: 768px) and (max-width: 950px) {
    .banner {
        padding-top: 25%;
}

    .information__title {
        font-size: 70px;
    }

    .information__text {
        font-size: 30px;
    }

    .portfolio__details h2 {
        font-size: 30px;
        padding-bottom: 1%;
    }

    .portfolio__details a, .portfolio__details a p {
        font-size: 17px;
        padding-bottom: 2%;
        }
}

@media (min-width: 1024px) and (max-width: 1250px) {
    .banner {
        padding-top: 5%;
    }

    .information__text {
        font-size: 150%;
    }

    .portfolio__details h2 {
        font-size: 30px;
    }

    .portfolio__details a, .portfolio__details a p {
        font-size: 22px;
    }
}