.card-deck {
    padding-top: 1%;
    margin-right: 2%;
    width: 100%;
}

.card-title {
    font-size: 30px;
    font-family: 'RocknRoll One', sans-serif;
}

.card-text {
    font-size: 20px;
    font-family: 'Shippori Mincho', serif;
}

.card ul li {
    font-family: 'Shippori Mincho', serif;
    padding-top: 2%;
    font-size: 16px;
}