
$section-padding: 120px 0;

* {
    margin: 0%;
    padding: 0%;
}


body {
    font-family: 'Titillium Web', sans-serif;
    background: rgb(212,212,212);
    background: linear-gradient(90deg, rgba(212,212,212,1) 0%, rgba(255,255,255,1) 50%, rgba(212,212,212,1) 100%);
    padding-top: 7%;
}

section {
    padding: $section-padding;
}

h1 { font-size: 48px; margin-bottom: 30px;}

p {
    font-size: 18px;
    color: rgb(0, 0, 0);
    line-height: 1.8;
    margin-bottom: 0;
}

a:hover {
    text-decoration: none;
}

    /* Header */
@import "header";

    /* Main */
@import "main";

    /* Footer */
@import "footer";

    /* Contact */
@import "contact";

    /* About */
@import "about";

    /* News.html */
@import "news";

/* Media Query */

@media (min-width: 320px) and (max-width: 520px) {
    
    .footer-menu {
        display: block !important;
        padding: 20px 0 !important;
        font-size: 20px;
    }
}
